<html>

<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="static/Flat-UI-master/css/flat-ui.css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#"></a>
            <ul class="nav">
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href=" {{url_for('setup') }}">Series Setup</a></li>
                <li><a href="{{ url_for('winners') }}">Winners</a></li>
                <li><a href="{{ url_for('dashboard') }}">Lottery Dashboard</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <strong ><font color="red">{{ message }}</font></strong>
                {% endfor %}
            {% endif %}
        {% endwith %}

    {% block content %}{% endblock %}
    </div>

</body>
</html>